# Auto detect text files and perform LF normalization
* text=auto
#
#bandit1:- boJ9jbbUNNfktd78OOpsqOltutMc3MY1
#bandit2:- CV1DtqXWVFXTvM2F0k09SHz0YwRINYA9
#bandit3:- UmHadQclWmgdLOKQ3YNgjWxGoRMb5luK
#----------------------------------------
#1boJ9jbbUNNfktd78OOpsqOltutMc3MY1
#2CV1DtqXWVFXTvM2F0k09SHz0YwRINYA9
#3UmHadQclWmgdLOKQ3YNgjWxGoRMb5luK
#4pIwrPrtPN36QITSp3EQaw936yaFoFgAB
#5koReBOKuIDDepwhWk7jZC0RTdopnAYKh

#6DXjZPULLxYr17uwoI01bNLQbtFemEgo7
#7HKBPTKQnIay4Fw76bEy8PVxKEDQRKTzs

cvX2JJa4CFALtqS87jk27qwqGhBM9plV
UsvVyFSfZZWbi6wgC7dAFyFuR6jQQUhR
truKLdjsbJ5g7yyJ2X2R0o3a5HQJFuLk
IFukwKGsFW8MOq3IRFqrxE1hxTNEbUPR
#
